* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // user-select: none;
}
body {
    width: 100%;
    height: 100vh;
    #app {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .box {
            h1 {
                text-align: center;
                letter-spacing: 0.3em;
                margin-bottom: 70px;
            }
            .main {
                width: 1200px;
                // background-color: black;
                height: 700px;
                .tab {
                    width: 100%;
                    height: 50px;
                    ul {
                        list-style: none;
                        display: flex;
                        width: 100%;
                        background-color: antiquewhite;
                        height: 4em;
                        border-radius: 5px;
                        overflow: hidden;
                        li {
                            display: flex;
                            width: 200px;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            transition: 0.3s;
                            border-bottom: #eee solid 1px;
                            &:hover {
                                background-color: #fff;
                                border-bottom: #fff solid 1px;
                            }
                        }
                        .active {
                            background-color: #fff;
                            border-bottom: #fff solid 1px;
                        }
                    }
                }
                box-shadow: 9px 4px 80px -10px rgba(0, 0, 0, 0.1);
                .tab_box {
                    margin-top: 1.5em;
                    padding-left: 1em;
                    height: 650px;
                    .item {
                        display: none;
                        width: 100%;
                        .numbers {
                            ul {
                                user-select: none;
                                display: flex;
                                flex-wrap: wrap;
                                list-style: none;
                                transition: .5s;
                                li {
                                    width: 130px;
                                    height: 60px;
                                    // background-color: black;
                                    border: 1px solid #eee;
                                    line-height: 60px;
                                    text-align: center;
                                    border-radius: 5px;
                                    margin-top: 5px;
                                    margin-left: 5px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    cursor: pointer;
                                    transition: 0.3s;
                                    
                                    &:hover {
                                        background-color: #eee;
                                    }
                                }
                                .w {
                                    background-color: red;
                                }
                            }
                        }
                    }
                    .show {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        .buttons {
                            position: absolute;
                            top: 90%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            button {
                                &:nth-child(2) {
                                    margin-left: 18px;
                                }
                                height: 38px;
                                line-height: 38px;
                                padding: 0 18px;
                                color: #fff;
                                background-color: rgba($color: #1e9fff, $alpha: 1);
                                border: none;
                                border-radius: 3px;
                                cursor: pointer;
                                text-align: center;
                                white-space: nowrap;
                                &:hover {
                                    background-color: rgba($color: #1e9fff, $alpha: 0.7);
                                }
                            }
                        }
                    }
                }
            }
            .title {
                // text-align: center;
                padding-bottom: 10px;
                .times {
                    margin-left: 160px;
                    width: 850px;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    font-weight: 600;
                    font-size: 14px;
                    border-bottom: 1px solid #eee;
                }
            }
        }
        .localhost {
            position: absolute;
            width: 300px;
            height: 800px;
            // background-color: black;
            top: 53%;
            left: 90%;
            // border: 1px solid red;
            border-radius: 3px;
            transform: translate(-50%, -50%);
            overflow: hidden;
            ul {
                height: 750px;
                // background-color: #000;
                list-style: none;
                overflow: auto;
                transition: .3s;
                // box-shadow: 9px 4px 80px -10px rgba(0, 0, 0, 0.1);
                li {
                    width: 100%;
                    height: 70px;
                    background-color: #fff;
                    margin-top: 4.5px;
                    border-radius: 5px;
                    display: flex;
                    overflow: hidden;
                    box-shadow: 13px 10px 40px -13px rgba(0,0,0,0.1);
                    &:hover {
                        background-color: #eee;
                    }
                    .l_color {
                        background-color: aqua;
                        height: 100%;
                        width: 2%;
                    }
                    .l_data {
                        width: 98%;
                        height: 100%;
                        // background-color: black;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: column;

                        .l_times {
                            margin-top: 5px;
                            font-size: 12px;
                            span{
                                margin-left: 5px;
                            }
                        }
                        .l_names {
                            margin-bottom: 15px;
                        }
                    }
                }
                div{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    font-size: 12px;
                    color: #999;
                }
            }
            .l_tit {
                user-select: none;
                width: 100%;
                height: 50px;
                text-align: center;
                cursor: pointer;
                line-height: 50px;
                // font-weight: 600;
                font-size: 14px;
                border-bottom: 1px solid #eee;
            }
        }
    }
}
